
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height:auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.filter-label {
    font-weight: bold;
    margin-right: 10px;
}

.filter-btn {
    background: none;
    border: none;
    color: #a8a8a8;
    font-size: 1em;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.filter-btn.active {
    color: #575bc5;
}

.filter-btn.active::after,
.filter-btn:hover::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #575bc5;
    position: absolute;
    bottom: -5px;
    left: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #f2f2f2;
}

thead th {
    text-align: left;
    padding: 10px;
    font-size: 0.95em;
}

tbody td {
    padding: 15px;
    border-top: 1px solid #ddd;
    font-size: 0.95em;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

.badge {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.badge-sales-lead {
    background-color: #eece5b;
    color: black;
}

.badge-support {
    background-color: #7851db;
}

.view-btn {
    background: none;
    border: none;
    color: #575bc5;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    text-align: center;
}

.view-btn a{
    text-decoration: none;
    line-height: normal;
    color: inherit;
    display: inline-block;
}


